# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# Env
.env

# ESlint
.eslintcache
